<h1 mat-dialog-title>சென்று அடைந்தது</h1>
<div mat-dialog-content>தங்கள் அனுப்ப வீரும்பிய தகவல் சுகதாரா 
  மேலாளரை சென்றுயடைந்தது.</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>நன்றி</button>
</div>

<!--<h1 mat-dialog-title>வாகன ஓட்டிகளின் தொலைபேசி எண்கள்</h1>
<div mat-dialog-content style="height: 215px;">
  <mat-form-field class="masss">
    <mat-label class="tsk">Search Place</mat-label><br>
    <input type="text" matInput placeholder="*********" style="font-size: x-large;"
    autocomplete="off">
  </mat-form-field>
  <div><section class="example-section">
    <mat-checkbox class="example-margin">முருகன்-8072079867</mat-checkbox>
  </section></div>
<div><section class="example-section">
  <mat-checkbox class="example-margin">விக்னேஷ்-9035637356</mat-checkbox>
</section>
</div>
<div><section class="example-section">
  <mat-checkbox class="example-margin">குப்புசாமி-7654364290</mat-checkbox>
</section>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="background-color:red;">அனுப்புக</button>
</div>-->