<!-- ########################## status live update  ########################-->
<div class="vignesh">
	<div class="status mt-2 ">
		<p id="status-p" id="status-p" style="font-size: xx-large;">Total</p>
		<div class="d-flex justify-content-around  flex-wrap ">
                        <div class="status-div">Active<img 
                                style="margin-left: 4px;" src="../../assets/images/reddot.png" height="20px" width="20px"><br><span id="active-no"></span></div>
                        <div class="status-div">Confirmed<img 
                                style="margin-left: 4px;" src="../../assets/images/confirm.png" height="20px" width="20px"><br><span id="confirmed-no"></span><br></div>
                        <div class="status-div">Recovered<img 
                                style="margin-left: 4px;" src="../../assets/images/recover.png" height="20px" width="20px"><br><span id="recovered-no"></span><br></div>
                        <div class="status-div">Deaths<img 
                                style="margin-left: 4px;" src="../../assets/images/death.png" height="20px" width="20px"><br><span id="deaths-no"></span><br></div>
		</div>
	</div>
	
	<!-- ########################## search ########################-->
	<h2 id="title">All Over India</h2>
	<img src="../../assets/images/searchicon.png" class="thala">
	<div id="search">
				<input type="text" name="search-input" id="search-input" placeholder="SEARCH HERE..."> 	
	</div>
	<!-- ########################## Live Table ########################-->
	 <div class="state-container d-flex flex-wrap">
	 	
         </div>
         </div>